$primary:rgb(12, 156, 196);
$success: #b5c6e2;
$info: #8b92ba;
$warning: rgb(211, 195, 14);
$secondary: rgb(4, 99, 62);
$danger: rgb(144, 23, 4);
$border-width: 2px;

@import 'bootstrap/scss/bootstrap.scss';